<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://flumen.club:3306/jan_test?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">jan_jan</property>
    <property name="hibernate.connection.password">Flumen96</property>
    <property name="hibernate.transaction.auto_close_session">true</property>
    <property name="hibernate.connection.release_mode">auto</property>
    <property name="hibernate.connection.autocommit">true</property>
    <mapping resource="vukelic/com/data/Data.hbm.xml"/>
    <mapping resource="vukelic/com/data/Device.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
